@model yazlab1p3.Models.UrlKeyword

@{
    ViewData["Title"] = "SayfaUrlSiralama";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YAM: Yerli Arama Motoru</title>
</head>
<body>
@using (Html.BeginForm("SayfaUrlSiralama", "Home", FormMethod.Post))
{
    <div class="form">
        <form>

            @Html.TextAreaFor(model => model.Urls, new { @class = "form-elements", @cols = 50, @rows = 10 })

            @Html.TextAreaFor(model => model.Keywords, new { @class = "form-elements", @cols = 50, @rows = 10 })

            <div class="form-elements">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>

    <div>
        @if (Model != null)
        {
            <table class="table table-responsive">
                <tr>
                    <th>URLs</th>
                    <th>Scores</th>
                </tr>
                @for (int i = 0; i < Model.Urls.Length; i++)
                {
                    <tr>
                        <td>@Model.Urls[i]</td>
                        <td>@Model.Scores[i]</td>
                    </tr>
                }
            </table>
            <hr/>
            <div>
                <table class="table table-responsive">
                    <tr>
                        <th>Keywords</th>
                    </tr>
                    @foreach (var keyword in Model.Keywords)
                    {
                        <tr>
                            <td>@keyword</td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
}
</body>
</html>

